.main-home {
  border: 1px solid red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-home {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
}

.miniLogoSena {
  height: 40px;
}

a {
  text-decoration: none;
}

.div-home {
  border: 2px solid purple;
  height: 88%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.izquierda-home {
  border: 1px solid blue;
}

.derecha-home {
  border: 1px solid green;
}