<h1>Areas::Programas#index</h1>
<p>Find me in app/views/areas/programas/index.html.erb</p>

<% @programa.each do |programa| %>
  <tr>
    <td><%# programa.id %></td>
    <td><%# link_to 'Show', [ @area, programa ] %></td>
    <td><%# link_to 'Edit', edit_programa_path(programa) %></td>
    <td><%# link_to 'Destroy', programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>