<span class="span-atras">
  <b><%= link_to "Inicio", :back, class: "btn-atras" %></b>
</span>

<span class="span-nuevo">
  <b><%= link_to "Nueva", new_area_path, :method => :get, class: "btn-nuevo" %></b>
</span>

<div class="tabs">
  <h2>Listado de Areas</h2 >

  <table class="table-index">
    <tr class="tr-index">
      <thead>
        <th class="th-index">Id</th>
        <th class="th-index">Imagen</th>
        <th class="th-index">Nombre</th>
        <th class="th-index">Acción</th>
      </thead>
    </tr>
    <%=  render @areas %>
  </table>
</div>