<html>
  <head>
    <%= stylesheet_link_tag "home" %>
    <title>AppSena</title>
  </head>
  <body>  
    <main class="main-home">
      <header>
        <nav class="nav-home">
          <%= image_tag "logoSena.png", class: "miniLogoSena" %>
          <span>
          <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
          </span>
        </nav>
      </header>

      <div class="div-home">
        <section class="izquierda-home">
          <ul>
            <li><%= link_to "Areas", areas_path, :method => :get %></li>
            <li><a href="#">Programas</a></li>
            <li><a href="#">Cursos</a></li>
          </ul>
        </section>

        <section class="derecha-home">
          <h1>Enlaces a areas</h1>
          
          
        </section>
      </div>
    </main>
  </body>
</html>
