<div class="tabs">
  <div class="tab-header">
    <div class="active">
      <i class="fa fa-bienvenido">Bienvenido</i>
    </div>
    <div>
      <i class="fa fa-areas">Areas</i>
    </div>
    <div>
      <i class="fa fa-programas">Programas</i>
    </div>
  </div>

  <div class="tab-indicator"></div>

  <div class="tab-content">
    <div class="active">
      <h2>Bienvenido</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus possimus doloribus dolorem. Ex, totam odit. Illum eius accusamus laudantium explicabo voluptate harum ipsa enim ducimus! Fugiat similique quo libero quam!</p>
    </div>
    <div>
      <h2>Areas</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus possimus doloribus dolorem. Ex, totam odit. Illum eius accusamus laudantium explicabo voluptate harum ipsa enim ducimus! Fugiat similique quo libero quam!</p>
      <%= link_to "Ver Areas", areas_path, :method => :get, class: "span-ver link"%>
      <%= link_to "Crear Area", new_area_path, :method => :get, class: "span-crear link" %>
    </div>
    <div>
      <h2>Programas</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus possimus doloribus dolorem. Ex, totam odit. Illum eius accusamus laudantium explicabo voluptate harum ipsa enim ducimus! Fugiat similique quo libero quam!</p>
      <%= link_to "Ver Programas", area_programas_path(@area, @programa) %>
      <%# link_to "Crear Programas", new_area_programa_path, :method => :get, class: "span-crear link" %>
    </div>
  </div>
</div>

<%# JavaScript %>
<script>
  function _class(name) {
    return document.getElementsByClassName(name);
  }

  let tabpanes = _class("tab-header")[0].getElementsByTagName("div");

  for (let i = 0; i < tabpanes.length; i++) {
    tabpanes[i].addEventListener("click", async function() {
      _class("tab-header")[0].getElementsByClassName("active")[0].classList.remove("active");
      tabpanes[i].classList.add("active");

      _class("tab-indicator")[0].style.top = `calc(80px + ${i*50}px)`;

      _class("tab-content")[0].getElementsByClassName("active")[0].classList.remove("active");
      _class("tab-content")[0].getElementsByTagName("div")[i].classList.add("active");
    });
  }
</script>
